<div class="container">
  <div class="header">
    <div class="header_wrap wrap">
      <div class="header_fixed">
        <div class="header_fixed_block"  [class]="scrollChange">
          <div class="header_top ">
            <div class="header_btn_menu">
              <mat-icon aria-hidden="false"  class="white-icon size-"  >menu</mat-icon>
            </div>

            <div class="header_logo logo">
              <!--img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/logo-white.png"/-->

              <span class="logo-top-text">SBUKETAMI</span>
              <span class="logo-text">Since and forever</span>
            </div>

            <div class="header_lang lang">
              <a class="lang_item ru">RU</a>
              <a class="lang_item ua ">UA</a>
              <a class="lang_item en">EN</a>
            </div>


          </div>
        </div>


      </div>
      <div class="header_content">
        <H1>Всегда самые свежые розы!</H1>
        <p> Эксклюзивные букеты с розами более чем <br/>
          100 сортов из 12 стран мира.</p>
        <div class="btn_pay">
          Заказать
        </div>
      </div>

    </div>
  </div>
  <div class="content">
    <div class="descr_top">
      <div class="descr_top__item">
        <div class="descr_top__item-header">Максимальная свежесть</div>
        <div class="descr_top__item-content">Наш регламент транспортировки и технологии оформления композиций позволяют гарантировать сохранность букета свежим, ярким и красивым в течении как можно более длительного периода времени</div>
      </div>
      <div class="descr_top__item">
        <div class="descr_top__item-header">Эксклюзивное оформление</div>
        <div class="descr_top__item-content">Собранные в период полного цветения розы из более чем 12 стран с большими, густыми, яркими и нетронутыми лепестками превращаются в композицию, которая создается нашими опытными флористами</div>
      </div>
      <div class="descr_top__item">
        <div class="descr_top__item-header">Комфортное время доставки</div>
        <div class="descr_top__item-content">Мы знаем, что каждый заказ - особенный, поэтому гарантируем, что Ваша композиция будет доставлена именно тогда, когда она вам нужна - в праздники, дни рождения или в любой другой день, который вы пожелаете</div></div></div>
    <div class="top-banner">

      <div class="top-banner__action">
        <div class="sb_header_text">Розы в коробках</div>
        <div class="sb_button_submit">
          Заказать
        </div>
      </div>

    </div>
    <div class="three_boxes">
      <div class="three_boxes_item_left">
        <div class="sb_block_action">
          <div class="sb_header_text">Шляпные коробки</div>
          <div class="sb_button_submit">Заказать</div>
        </div>
      </div>

      <div class="three_boxes_item_right">
        <div class="three_boxes_item_right_item img1">
          <div class="sb_block_action">
            <div class="sb_header_text">Розы в закрытой коробке</div>
            <div class="sb_button_submit">Заказать</div>
          </div>
        </div>
        <div class="three_boxes_item_right_item img2">
          <div class="sb_block_action">
            <div class="sb_header_text">Розы в акриловых боксах</div>
            <div class="sb_button_submit">Заказать</div>
          </div>
        </div>
      </div>

    </div>

    <section>
      <div class="section-header">Розы в коробках</div>
      <div class="section-pre-header">Наши самые стильные коробки с розами, которые обязательно Вас порадуют!</div>
      <div class="top-product-section"><div class="top-product-section__item">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/6.jpg">
        <div class="top-product-section__item-desc">Шляпная коробка круглая <span class="desc-min">small</span> </div>
        <div class="top-product-section__item-price">от ₴243.00</div>
      </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/7.jpg">
          <div class="top-product-section__item-desc">Шляпная коробка квадратная <span class="desc-min"> medium </span></div>
          <div class="top-product-section__item-price">от ₴475.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/8.jpg">
          <div class="top-product-section__item-desc">Шляпная коробка в форме сердца <span class="desc-min">small</span></div>
          <div class="top-product-section__item-price">от ₴472.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/99.jpg">
          <div class="top-product-section__item-desc">Шляпная коробка в форме сердца <span class="desc-min">medium</span></div>
          <div class="top-product-section__item-price">от ₴688.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/11.jpg">
          <div class="top-product-section__item-desc">Шляпная коробка круглая <span class="desc-min">medium</span></div>
          <div class="top-product-section__item-price">от ₴770.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/12.jpg">
          <div class="top-product-section__item-desc">Шляпная коробка в форме сердца <span class="desc-min">big</span></div>
          <div class="top-product-section__item-price">от ₴1255.00</div>
        </div><div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/13.jpg">
          <div class="top-product-section__item-desc">Роза в акриловом боксе <span class="desc-min">small</span></div>
          <div class="top-product-section__item-price">от ₴405.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/14.jpg">
          <div class="top-product-section__item-desc">Розы в акриловом боксе <span class="desc-min">medium</span></div>
          <div class="top-product-section__item-price">от ₴775.00</div>
        </div>
      </div>
    </section>
    <section class="images-content">
      <div class="sb_block_action">
        <div class="sb_header_text">Футляр с розой для украшений</div>
        <div class="sb_button_submit">Заказать</div>
      </div>
    </section>
    <section class="two-banner-row">
      <div class="sb_block_action img-rose-bulb">
        <div class="sb_header_text">Розы в колбе</div>
        <div class="sb_button_submit">Заказать</div>
      </div>

      <div class="sb_block_action img-rose-toys">
        <div class="sb_header_text">Розы с игрушками</div>
        <div class="sb_button_submit">Заказать</div>
      </div>
    </section>
    <section>
      <div class="section-pre-header">Наши самые любимые декоративные розы для лаконичных презентов</div>
      <div class="section-header">Декоративные розы</div>
      <div class="top-product-section">
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/24.jpg">
          <div class="top-product-section__item-desc">Розы в колбе</div>
          <div class="top-product-section__item-price">от ₴562.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/23.jpg">
          <div class="top-product-section__item-desc">Футляр с розой для украшений</div>
          <div class="top-product-section__item-price">от ₴1500.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/21.jpg">
          <div class="top-product-section__item-desc">Брелки с розами</div>
          <div class="top-product-section__item-price">от ₴1650.00</div>
        </div>
        <div class="top-product-section__item">
          <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/22.jpg">
          <div class="top-product-section__item-desc">Игрушки с розами</div>
          <div class="top-product-section__item-price">от ₴430.00</div>
        </div>
      </div>
    </section>
    <section class="img-rose-delicious">
      <div class="sb_block_action marginLeft264px">
        <div class="sb_header_text">Розы с вкусными подарками</div>
        <div class="sb_button_submit">Заказать</div>
      </div>
    </section>
    <section class="section-block-collect">
      <div class="sb_block_action img-assemble-yourself">
        <div class="sb_header_text">Соберите сами</div>
        <div  class="sb_pre_header_text">Создайте идеальный подарок, отправьте любимому человеку и скажите как много он для вас значит!</div>
        <div class="sb_button_submit">Заказать</div>
      </div>

      <div class="sb_block_action  img-rose-gorgeous">
        <div class="sb_header_text">Розы с игрушками</div>
        <div  class="sb_pre_header_text">Если хочешь сказать это, говори красиво!</div>
        <div class="sb_button_submit">Заказать</div>
      </div>
    </section >
    <section class="section-landing-form">
      <!--FORM-->
      <app-landing-form class="app-landing-form"></app-landing-form>
      <!--FORM-->
      <div class="title-lading">С нами удобно и выгодно!</div>

      <div class="action-icons">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/main-icons/info.png">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/main-icons/rose.png">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/main-icons/pay.png" alt="Оплата и доставка">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/main-icons/service.png" alt="Сервис и гарантия">
        <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/main-icons/program.png" alt="Программа лояльности">
      </div>
    </section>


    <section class="paris">
      <div class="paris-box">
        <div class="paris-box-star">
          <mat-icon  svgIcon="stars"></mat-icon>
          <mat-icon  >stars</mat-icon>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h2 class="paris-box-title">У нас самые свежые розы!</h2>
        <p class="paris-box-desc">Экономьте на времени и цене! Покупайте у нас онлайн! SBUKETAMI - это безопасно, комфортно и изысканно!</p>
        <a class="paris-box-link" target="_blank">Читать отзывы на Google</a>
      </div>
      <img class="paris-img lozad" src="https://sbuketami.com.ua/themes/dg-theme/images/home_new_design/photo-col.png" data-loaded="true">
    </section>
  </div>


</div>
<router-outlet></router-outlet>
