<div class="container">
  <div class="header">
    <div class="header_wrap wrap">
      <div class="header_fixed  ">
        <div class="header_top ">
          <div class="header_btn_menu">
            <mat-icon aria-hidden="false"  class="white-icon size-"  >menu</mat-icon>
          </div>

          <div class="header_logo logo">
            <img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/logo-white.png"/>
          </div>

          <div class="header_lang lang">
            <a class="lang_item ru">RU</a>
            <a class="lang_item ua ">UA</a>
            <a class="lang_item en">EN</a>
          </div>


        </div>
      </div>
      <div class="header_content">
          <H1>Всегда самые свежые розы!</H1>
        <p> Эксклюзивные букеты с розами более чем <br/>
          100 сортов из 12 стран мира.</p>
      </div>
    </div>
  </div>
</div>
