<div class="container">
  <div class="header">
    <div class="header_wrap wrap">
      <div class="header_fixed">
<div class="header_fixed_block"  [class]="scrollChange">
  <div class="header_top ">
    <div class="header_btn_menu">
      <mat-icon aria-hidden="false"  class="white-icon size-"  >menu</mat-icon>
    </div>

    <div class="header_logo logo">
      <!--img src="https://sbuketami.com.ua/themes/dg-theme/images/sbuketami/logo-white.png"/-->

      <span class="logo-top-text">SBUKETAMI</span>
      <span class="logo-text">Since and forever</span>
    </div>

    <div class="header_lang lang">
      <a class="lang_item ru">RU</a>
      <a class="lang_item ua ">UA</a>
      <a class="lang_item en">EN</a>
    </div>


  </div>
</div>


        </div>
      <div class="header_content">
          <H1>Всегда самые свежые розы!</H1>
        <p> Эксклюзивные букеты с розами более чем <br/>
          100 сортов из 12 стран мира.</p>
        <div class="btn_pay">
          Заказать
        </div>
      </div>

    </div>
  </div>
  <div class="content">
    <div class="descr_top">
      <div class="descr_top__item">
      <div class="descr_top__item-header">Максимальная свежесть</div>
      <div class="descr_top__item-content">Наш регламент транспортировки и технологии оформления композиций позволяют гарантировать сохранность букета свежим, ярким и красивым в течении как можно более длительного периода времени</div>
    </div>
      <div class="descr_top__item">
      <div class="descr_top__item-header">Эксклюзивное оформление</div>
        <div class="descr_top__item-content">Собранные в период полного цветения розы из более чем 12 стран с большими, густыми, яркими и нетронутыми лепестками превращаются в композицию, которая создается нашими опытными флористами</div>
      </div>
      <div class="descr_top__item">
        <div class="descr_top__item-header">Комфортное время доставки</div>
        <div class="descr_top__item-content">Мы знаем, что каждый заказ - особенный, поэтому гарантируем, что Ваша композиция будет доставлена именно тогда, когда она вам нужна - в праздники, дни рождения или в любой другой день, который вы пожелаете</div></div></div>



      <div class="top-banner">

        <div class="top-banner__action">
          <div class="sb_header_text">Розы в коробках</div>
          <div class="sb_button_submit">
            Заказать
          </div>
        </div>

      </div>


  </div>
</div>
